{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header bg-light">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-dark">
                    <center>
                    <img src="https://www.freepngimg.com/thumb/world_of_warcraft/72833-sticker-art-photography-pop-english-explosion-wow.png" width="150">
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">UNTA SHOP</h1>
                    <h2>Searching for Unique and Antique things? This is tHe right place!</h2>
                    <p>SPEND YOUR MONEY TO UNIQUE THINGS AND GET RID OF YOUR STRESS</p>
                    <a class="btn btn-danger" href="/shop">GO SHOPPING</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}