{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header bg-light">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-dark">
                    <center>
                    <img src="https://www.freepngimg.com/thumb/world_of_warcraft/72833-sticker-art-photography-pop-english-explosion-wow.png" width="150">
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">UNIQUE ANTIQUE SHOP</h1>
                    <h2>List Product Decoration</h2>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-lg py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-title text-center">
                <h2 class="fw-bold mb-5">Product List</h2>
            </div>
        </div>
    </div>
    <div class="row">
        {% if available %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in product_list %}
                <tr>
                    <td scope="col">{{forloop.counter}}</td>
                    <td scope="col">{{item.name}}</td>
                    <td scope="col">{{item.description}}</td>
                    <td scope="col">{{item.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="col text-center">
            <span>No Avaiable Product</span>
        </div>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="section-title text-center">
                <h2 class="fw-bold mb-5">Search</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form action="/shop/laptop/list/" method="GET">
                <input type="text" name="product_name" placeholder="input your product name"
                    class="form-control form-control-lg fs-6">
                <input class="btn btn-success mt-4" type="submit" value="search">
            </form>
        </div>
    </div>
</div>

{% endblock content %}