
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.freepngimg.com/thumb/world_of_warcraft/72833-sticker-art-photography-pop-english-explosion-wow.png"
                width="50">
                <a class="navbar-brand fw-bold text-light fs-3" href="#">UNTA SHOP</a></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">All Product</a></li>
                        <li><a class="dropdown-item" href="#">Alive</a></li>
                        <li><a class="dropdown-item" href="#">Decoration</a></li>
                        <li><a class="dropdown-item" href="#">Animal</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>